#currentPrice-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#right {
  margin-left: 2vw;
  margin-right: 20vw;
  padding-left: 40px;
}

#infobox {
  width: 150%;
  color: darkgoldenrod;
  border: 3px solid lightgray;
  background-color: honeydew;
  font-size: 20px;
  padding: 10px;
  margin-top: 120px;
}
