#currentPrice-container {
  display: flex;
  justify-content: center;
}

#right {
  margin-left: 2vw;
  margin-right: 20vw;
}

.infobox {
  width: 150%;
  color: darkgoldenrod;
  border: 3px solid lightgray;
  background-color: honeydew;
  font-size: 20px;
  padding: 10px;
  margin-top: 48px;
}

.infobox > p {
  font-family: 'Play', sans-serif;
  font-size: 24px;
}